  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      News Headlines      
  </mat-toolbar>

  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" >           
        Sidenav content
  </mat-sidenav>
      <mat-sidenav-content>
        <h3><p>Top Headlines</p></h3>
        <!-- <button mat-raised-button> 
          Receive
        </button> -->
        
        <h4><div *ngFor="let list of newsList">
          {{list.title}}
        </div></h4>
        
      </mat-sidenav-content>
    </mat-sidenav-container>

 





 

  